<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.latestnews"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/step0003"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.latestnews.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.latestnews.HeadlineStory"
            android:label="@string/title_activity_headline_story" >
        </activity>
        <activity
            android:name="com.example.latestnews.StoryDetail"
            android:label="@string/title_activity_story_detail" >
        </activity>
        <activity
            android:name="com.example.latestnews.HeadlineUpload"
            android:label="@string/title_activity_headline_upload" >
        </activity>
        <activity
            android:name="com.example.latestnews.VoiceControl"
            android:label="@string/title_activity_voice_control" >
        </activity>
        <activity
            android:name="com.example.latestnews.Saveddownload"
            android:label="@string/title_activity_saveddownload" >
        </activity>
        <activity
            android:name="com.example.latestnews.SavedHeadlines"
            android:label="@string/title_activity_saved_headlines" >
        </activity>
        <activity
            android:name="com.example.latestnews.SavedStory"
            android:label="@string/title_activity_saved_story" >
        </activity>
    </application>

</manifest>
